* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    min-height: 100vh;
    margin: 0;
}

/* TOP HEADING */
h1.hd {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

s {
    color: red;
}

/* PAGE WRAPPER */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px; /* space for fixed heading */
}

.container {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    border: none;
    
}
.delete-btn:hover {
    background: rgb(159, 5, 5);
}

/* Responsive */
@media (max-width: 480px) {
    .container {
        margin: 10px;
    }
}
